.head-page {
    background: #2b87d1;
    color: white;
    text-align: center;
    width: auto;
    padding-top: 20px;
    padding-bottom: 60px;
    height: 588px;
    font-size: 24px;
    font-family: Helvetica,Arial,sans-serif;
}

.head-page-header {
    font-size: 80px;
    padding: 22px;
    padding-bottom: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.img {
    height: 136px;
    width: 106px;
    text-align: center;
    margin-top: 106px;
}

.bt {
    background-color: rgb(255 209 84);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

.ad {
    height: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.tests {
    margin-left: 420px;
}